<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: rgb(236, 233, 233);">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary position-fixed px-4">
        <div class="container-fluid">
            <img src="/assets/img/dw.png" alt="" srcset="" class="logo_nav">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_my_project">My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/oop">oop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">rating</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-lg-none" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
            <a href="/contact" type="button" class="btn btn-dark d-none d-lg-block">contact Me</a>
        </div>
    </nav>


    <div class="container_add_my_project">
        <!-- <div class="form_add_my_project flex">
            <h1>ADD MY PROJECT</h1>
            <form action="" class="form_add" onsubmit="addProject(event)">
                <div class="label_input flex">
                    <label class="lb" for="project_name">project_name</label>
                    <input class="ipn ipn_add" type="text" id="project_name" name="project_name" placeholder="">
                </div>
                <div class="star_end_date flex">
                    <div class="label_input flex">
                        <label class="lb" for="star_date">star_date</label>
                        <input class="ipn ipn_add" type="date" id="star_date" name="star_date" placeholder="">
                    </div>
                    <div class="label_input flex">
                        <label class="lb" for="end_date">end_date</label>
                        <input class="ipn ipn_add" type="date" id="end_date" name="end_date" placeholder="">
                    </div>
                </div>

                <div class="label_input flex">
                    <label class="lb" for="description">description</label>
                    <textarea class=" ipn_add" name="description" id="descriptions" cols="40" rows="5"></textarea>
                </div>


                <div class="warp_ck_teknologi">
                    <label class="" for="ck_ipn">teknologi</label>
                    <div class=" add_tk">
                        <input class=" ipn_add " type="checkbox" id="node_js" name="ck_ipn" value="node_js"
                            placeholder="">
                        <label class="ck_ipn" for="node_js">node_js</label>

                        <input class=" ipn_add " type="checkbox" id="laravel" name="ck_ipn" value="laravel"
                            placeholder="">
                        <label class="ck_ipn" for="laravel">laravel</label>
                    </div>
                    <div class="">
                        <input class=" ipn_add " type="checkbox" id="react_js" name="ck_ipn" value="react_js"
                            ceholder="">
                        <label class="ck_ipn" for="react_js">react_js</label>

                        <input class=" ipn_add " type="checkbox" id="java" name="ck_ipn" value="java" placeholder="">
                        <label class="ck_ipn" for="java">java</label>
                    </div>
                </div>
                <div class="label_input flex">
                    <label for="upload_image" class="custom-file-label">upload_image</label>
                    <input class="custom-file-upload" type="file" id="upload_image" name="upload_image"
                        placeholder="atack" hidden>
                </div>
                <div class="btn_form flex">
                    <input type="submit" value="submit" class="btn_contact btn_contact_home btn_add">
                </div>
            </form>
        </div> -->

        <div class="container mt-5">
            <div class="form-group d-flex flex-column justify-content-center align-items-center">
                <h1>ADD MY PROJECT</h1>
                <form action="/createBlog" class="form_add" method="POST">
                    <!-- Project Name -->
                    <div class="form-group">
                        <label for="project_name">Project Name</label>
                        <input class="form-control" type="text" id="project_name" name="project_name"
                            placeholder="Enter project name">
                    </div>

                    <!-- Start and End Date -->
                    <div class="row">
                        <div class="col-md-6">
                            <label for="star_date">Start Date</label>
                            <input class="form-control" type="date" id="star_date" name="star_date">
                        </div>
                        <div class="col-md-6">
                            <label for="end_date">End Date</label>
                            <input class="form-control" type="date" id="end_date" name="end_date">
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="form-group mt-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="descriptions" rows="5"
                            placeholder="Enter project description"></textarea>
                    </div>

                    <!-- Technologies -->
                    <div class="form-group">
                        <label for="technologies">Technologies</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="logoNode" name="checkedTechnologies"
                                value="logoNode.png">
                            <label class="form-check-label" for="logoNode">Node.js</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="laravel" name="checkedTechnologies"
                                value="laravel.png">
                            <label class="form-check-label" for="laravel">Laravel</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="react_js" name="checkedTechnologies"
                                value="react.png">
                            <label class="form-check-label" for="react_js">React.js</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="java" name="checkedTechnologies"
                                value="java.png">
                            <label class="form-check-label" for="java">Java</label>
                        </div>
                    </div>


                    <div>
                        <label for="upload_image" class="form-label">Upload Image</label>
                        <input class="form-control form-control-lg" id="upload_image" type="file" name="upload_image">
                    </div>
                    <!-- Submit Button -->
                    <div class="form-group mt-4 d-flex justify-content-end align-items-end">
                        <input type="submit" value="Submit" class="btn btn-dark" >
                    </div>
                </form>
            </div>
        </div>


        <div class="my_project">
            <h1 class="title_center flex">MY PROJECT</h1>
                <div class="warp_my_project flex" id="warp_my_project">
                {{#each myProject}}
                    <a href="/detail/{{@index}}" class="link_to_detail_page">
                        <div class="card_my_project">
                            <img src="/assets/img/dw.png" alt="" class="img_project flex">
                            <a href="/detail/{{@index}}" class="link lk_project">{{this.project_name}}</a>
                            <p class="tekx_card_project">{{this.duration.tahun}} tahun {{this.duration.resetbulan}} bulan {{this.duration.resethari}} hari</p>
                            <div class="description_card_project">
                                <p>{{this.description}}</p>
                            </div>
                            <div class="flex warp_icn_card_project">
                                {{#each logos}}
                                <img src="/assets/img/{{this}}" alt="" class="logo" width="25px" height="30px" >
                                {{/each}}
                            </div>
                            <div class="flex warp_btn_edit_delete">
                                <a href="/edit/{{@index}}" class="btn_contact btn_edit_delete flex">edit</a>
                                <a href="/delete/{{@index}}" class="btn_contact btn_edit_delete flex">delete</a>
                            </div>
                        </div>
                    </a>
                {{/each}}
                </div>
        </div>
    </div>
    <script src="/assets/js/add_my_project.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>